/*
 * This is a basic set of colors for the
 * whole project. Edit the values to change
 * the look of the blog.
 */

body {
    background-color: #EDEDED;
    padding: 0 auto;
    margin: 0 auto;
    font-family: Roboto, Arial, sans-serif;
    font-size: 12pt;
}

.posttitle {
    font-size: 18pt;
    font-weight: bold;
}

.posttext {
    display: block;
    font-size: 12pt;
    margin: 35px;
    font-weight: lighter;
    text-align: justify;
}

.blogtitle {
    font-size: 24pt;
    font-weight: bold;
}

.footer {
    margin-top: 24px;
}

.mfab {
    margin-right: 24px;
}

.artpic {
    width: 280px;
    margin: 12px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
}
